

.contenedor {
    display: grid;
    grid-template-columns: auto auto;
    }

.redes {
    padding: 100px;
    display: flex;
    justify-content: space-between;
    :hover {
        transform: scale(2);
    }
   }