
.contenedor {
    display: grid;
    grid-template-columns: 50% 50%;
    }

.redes {
    padding: 100px;
    display: flex;
    justify-content: space-between;
    :hover {
        transform: scale(1.2);
    }
   }

   @media screen and (max-width: 768px) {
    .contenedor {
        display: flex;
        flex-direction: column;
       }
}
  
.ubicacion{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.ubicacion iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}