
.contenedor {
    display: grid;
    grid-template-columns: auto auto;
    }

.redes {
    padding: 100px;
    display: flex;
    justify-content: space-between;
    :hover {
        transform: scale(1.2);
    }
   }

   @media screen and (max-width: 768px) {
    .contenedor {
        display: flex;
        flex-direction: column;
       }
}