footer {
    padding: 48px 2px;
    background-color: rgb(212, 214, 218);
    
    div:nth-child(1) {
        text-align: center;
    }
    
    div:nth-child(2) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    ul li {
        display: inline-block;
        a svg {
            margin: 0 8px;
            &:hover {
                transform: scale(1.3);
            }
        }
        }
 }

