@import "bootstrap/bootstrap.scss";
@import "header";
@import "footer";
@import "contacto";
@import "nav";
@import "logo";

$tipografia-general: 'Roboto', sans-serif;
$fuente-grande: 45px;
$peso-fuente: bold;
$fuente-media: 25px;

.carousel-inner img {
    margin: auto;
  }
.btn:hover {
    background-color: rgb(75, 74, 74);
       transform: scale(1.3);
}
@mixin size ($altura, $peso, $fuente) {
    font-size: $altura;
    font-weight: $peso;
    font-family: $fuente;
}
p {
    @include size (15px, bold, Verdana)
}
h1 {
    font-size: $fuente-grande;
    font-family: $tipografia-general;
    font-weight: $peso-fuente;
}
h2 {
    font-family: $tipografia-general;
    font-size: $fuente-media;
    font-weight: $peso-fuente;
}

.pepito {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
    font-weight: bolder;
}
.resumen {
    @extend .pepito
}

